<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>HoneyBee</title>
</head>

<body>
    <header data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header.html"></header>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="services.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about.html"></section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/script.js"></script>

</body>

</html>